<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/vinay/IdeaProjects/API_Automation_programs/src/test/java/org/ritwikvinay/TestngExamples/APITesting_015_enabled.java"><classes/></test></suite>